* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --pricipal-cor: #bfccde;
  --segunda-cor: rgba(1, 28, 64, 0.9);
  --botao-normal: #fbbf24;
  --botao-click: #9e8123;
  --borda-top-right: 2px solid rgba(255, 255, 255, 0.6);
  --padd-auto: min(5rem, 8%);
}
a {
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 500;
  background-color: var(--pricipal-cor);
  line-height: 1.6;
  overflow-x: hidden;
}

header {
  width: 100vw;
  background-color: rgba(30, 41, 59, 0.7);
  color: #fff;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37);
  border: 2px solid rgba(255, 255, 255, 0.18);
}
header h1 {
  font-size: 1.5rem;
}
header a {
  background-color: var(--botao-normal);
  color: #000;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-weight: bold;
  transition: all 0.3s ease;
  border-top: var(--borda-top-right);
  border-right: var(--borda-top-right);
  text-align: center;
}
header a:hover {
  transform: scale(1.1);
  background-color: var(--botao-click);
}

.principal {
  width: 100%;
  height: 90vh;
  background-image: url(imagens/imagem\ fundo\ 01.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.principal .text-prin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: var(--padd-auto);
  margin: 1rem;
  text-align: center;
  backdrop-filter: blur(8px);
  box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37);
  border-top: 2px solid rgba(255, 255, 255, 0.18);
  border-right: 2px solid rgba(255, 255, 255, 0.18);
  border-radius: 1rem;
}
.principal .text-prin h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.principal .text-prin p {
  font-size: 1rem;
  margin-bottom: 2rem;
}
.buttons {
  background-color: var(--botao-normal);
  color: #000;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-weight: bold;
  border-top: var(--borda-top-right);
  border-right: var(--borda-top-right);
  transition: all 0.3s ease;
  width: fit-content;
}
.buttons a {
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.buttons:hover {
  transform: translateY(-4px);
  background-color: var(--botao-click);
}

.section {
  padding: 1rem;
  margin: auto;
}

#sobre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
  max-width: 1024px;
}
#sobre h2 {
  width: 100%;
  text-align: center;
  text-shadow: 0 0 10px #dfe224,
               0 0 20px #ded40c,
               0 0 40px #d5c919,
               0 0 80px #d9a617;
}
#sobre hr {
  width: 100vw;
  margin: 1rem 0 4rem 0;
}
.text-sobre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}
.text-sobre p {
  margin: 1.5rem;
}
#sobre .img-sobre {
  display: flex;
  justify-content: center;
  width: 40%;
}
.img-sobre img {
  max-width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 50% 90% 50% 90% / 90% 50% 90% 50%;
  filter: drop-shadow(2px 2px 50px #908a1a);
  transition: all 0.3s ease;
}
.img-sobre img:hover {
  border-radius: 90% 50% 90% 50% / 50% 90% 50% 90%;
}
.box-sobre {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#servicos {
  width: max-content;
  background-color: var(--segunda-cor);
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-bottom: 5rem;
}

.servicos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}
.servicos h3 {
  margin: 1.5rem 0;
}
ul {
  list-style: none;
  width: 100%;
  height: auto;
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
  gap: 1.5rem;
}
li {
  width: 250px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid #000;
  border-radius: 1.5rem;
  padding: 1.5rem;
}
li:hover {
  border: 1px solid #fff;
}
li .card-img {
  width: 100%;
}
li img {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 1rem;
}
.botao {
  width: auto;
  height: auto;
  border: none;
}
.botao:hover {
  border: none;
}
.btn-canos {
  padding: 0.125rem;
  border-radius: 0.5rem;
  background-color: var(--botao-normal);
  color: #000;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn-canos:hover {
  transform: translateY(-3px);
  background-color: var(--botao-click);
}
.btn2 {
  display: none;
}
.card-canos.view {
  display: grid;
}
.card-canos {
  display: none;
}

#contato {
  background-image: url(imagens/fundo4.avif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
  width: 100vw;
  height: 95vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 min(5em, 8%);
}
.text-contato {
  color: #fff;
  display: flex;
  flex-direction: column;
  width: 55%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  border-radius: 1.5rem;
  padding: min(1em, 2%);
}
.text-contato .buttons {
  margin: 1rem 0;
}

footer {
  text-align: center;
  background-color: #fef9c3;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .section {
    max-width: 800px;
  }
  .box-sobre {
    flex-direction: column-reverse;
  }
  ul {
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
  }
  #contato {
    justify-content: center;
    padding: 0 min(5em, 2%);
  }
  .text-contato {
    margin-right: 0.5rem;
    width: 60%;
  }
}
@media screen and (max-width: 767px) {
  p {
    font-size: 14px;
  }
  .section {
    max-width: 360px;
  }
  .box-sobre {
    flex-direction: column-reverse;
  }
  .text-sobre {
    width: 100%;
  }
  .img-sobre {
    width: 200px;
  }
  .img-sobre img {
    max-width: 200px;
  }
  .servicos {
    width: 70vw;
  }
  ul {
  list-style: none;
  width: 250px;
  height: 350px;
  display: flex;
  align-items: center;
  overflow-x: scroll;
  scroll-snap-type:x mandatory;
  padding: 0.5rem;
  gap: 1rem;
  background-color: rgba(1, 28, 64, 1);
  border-radius: 1.5rem;
}
li {
  width: 200px;
  height: 300px;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  border: 2px solid #000;
  border-radius: 1.5rem;
  padding: 1rem 2rem;
  scroll-margin-left: 1.5rem;
}
li:hover {
  border: 1px solid #fff;
}
li .card-img {
  width: 180px;
}
li img {
  max-width: 100%;
  border-radius: 8px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}
.card-canos h3 {
  max-width: 100%;
}
.card-canos.view {
  display: flex;
  flex-direction: column;
}
ul::-webkit-scrollbar {
  height: 10px;
  background-color: transparent;
}
ul::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 50%;
}
ul::-webkit-scrollbar-thumb{
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}
.btn-canos, .botao {
  display: none;
}
.btn2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
  margin-top: 1rem;
}
#contato {
  justify-content: center;
  padding: 0;
}
.text-contato {
  width: 90%;
  padding: 5px;
}
}

/*
ul {
  list-style: none;
  max-width: 450px;
  height: 350px;
  display: flex;
  align-items: center;
  overflow-x: scroll;
  scroll-snap-type:x mandatory;
  padding: 1rem;
  gap: 1rem;
  background-color: rgba(30, 41, 59, 0.8);
}
li {
  max-width: 400px;
  height: 300px;
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #000;
}
li img {
  width: 350px;
  padding: 1.5rem;
}
ul::-webkit-scrollbar {
  height: 10px;
  background-color: #fff;
  
}
ul::-webkit-scrollbar-track {
  background-color: aquamarine;
}
ul::-webkit-scrollbar-thumb{
  background-color: #1e293b;
}*/


/*
    :root {
      --primary: #1e293b;
      --accent: #fbbf24;
      --text: #1f2937;
      --bg: #ffffff;
    }
  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--bg);
  color: var(--text);
  line-height: 1.6;
}

header {
  background-color: var(--primary);
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

header h1 {
  font-size: 1.5rem;
}

header a {
  background-color: var(--accent);
  color: black;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.hero {
  background: #e2e8f0;
  padding: 4rem 2rem;
  text-align: center;
}

.hero h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.section {
  padding: 2rem;
  max-width: 1000px;
  margin: auto;
}

.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.card {
  background: #f1f5f9;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.depoimentos blockquote {
  background: #fef9c3;
  padding: 1rem;
  margin-bottom: 1rem;
  border-left: 4px solid var(--accent);
}

footer {
  background-color: var(--primary);
  color: white;
  text-align: center;
  padding: 2rem;
  margin-top: 2rem;
}

.buttons a {
  display: inline-block;
  margin: 0.5rem;
  padding: 0.75rem 1rem;
  background-color: var(--accent);
  color: black;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}
  */
